@use '../utils' as *;

.container {
  margin: 0 auto;
  max-width: var(--container-weight);
  padding: 0 2.0rem;
  position: relative;
  width: 100%;

  /*@include respond-to('small') {
    padding: 0 5rem !important;
  }*/
}


