@use '../utils' as *;

.container {
  margin: 0 auto;
  max-width: var(--container-weight);
  padding: 0 1rem;
  position: relative;
  width: 100%;
}


@include respond-to("medium") {
  .container {
    padding: 0 1.5rem;
  }
}

@include respond-to("large") {
  .container {
    padding: 0 0;
  }
}