/* GLOBAL */

:root {
  --color-text-dark: #000;
  --color-text-light: #ddd;

  --color-link: inherit;

  --color-primary: #e71d36;
  --color-secondary: #2ec4b6;
  --color-accent: #ff9f1c;

  --scrollbar-bg: #222;
  --background-dark: #1F2633;
  --background-light: #FFFFFF;

  --fontstack: 'Open Sans', sans-serif;
  --font-weight: 400;

  --viewport-height: 100vh;
  --viewport-weight: 100vw;

  --nav-shrink: 3rem;
  --nav-large: 4.5rem;
  --z-index: 99;

  --background-height: 100vh;
  --alignment: center;
  --flex-alignment: center;
  --container-weight: 60rem;
}