:root {  

  // ^ Colors 
  --background-dark:#1F2633;
  --background-light:#FFFFFF;

  --fontstack: 'Open Sans', sans-serif;
  --font-weight: 400;
  
  --viewport-height: 100vh;
  --viewport-weight: 100vw;

  --nav-shrink: 3rem;
  --nav-large: 4.5rem;
  
  --background-height: 100vh;
  --alignment: center;
  --flex-alignment: center;
  --container-weight: 65rem;
}  