@use '../utils' as *;

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  padding: 15px 0;
  width: var(--viewport-weight);
  z-index: var(--z-index);
  color: var(--color-text-light);
  background-color: rgb(1 1 1 / 95%);

  .content {
    display: flex;
    //height: 3.5rem;
    justify-content: space-between;
    align-items: center;

    .__logo {
      width: 10.763em;
      height: 1.38em;
      max-width: 100%;
      display: inline-block;
    }

    .__nav {
      display: flex;
      margin-left: auto;
      padding-right: 50px;
      grid-auto-columns: 1fr;
      grid-column-gap: 1.5rem;
      grid-row-gap: 0;
      grid-template-columns: max-content max-content;
      grid-template-rows: auto;

      & a {
        grid-column-start: span 1;
        grid-column-end: span 1;
        grid-row-start: span 1;
        grid-row-end: span 1;
      }
    }




    .__modetoggle {

      /* Rounded border */
      border-radius: 9999px;

      /* Size */
      height: 32px;
      width: 64px;

      /* OFF status */
      background-color: rgba(0, 0, 0, 0.1);


      /* Push the circle to the right */
      justify-content: flex-end;

      & .label__input {
        /* Hide the input */
        display: none;
      }

      & .toggle__circle {
        /* Rounded border */
        border-radius: 9999px;

        /* Size */
        width: 32px;
        height: 30px;

        background-color: #fff;

        /* OFF status */
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
    }




  }

}

.shrink {
  position: sticky;
  top: 0;
  height: 20px;
  background: #aaa;
}