@use '../utils' as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: var(--viewport-weight);
  bottom: auto;
  z-index: 100;
  background: none;
  color: white;
  transition: 0.35s all ease;

  .block--menu {
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;

    @include respond-to('medium') {
    height: 5.5rem;
    }
  }
  .menu--logo {
    width:10.763em;
    height: 1.38em;
    max-width: 100%;
    display: inline-block;
  }
  .menu--buttons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto;

    & a {
      grid-column-start: span 1;
      grid-column-end: span 1;
      grid-row-start: span 1;
      grid-row-end: span 1;

      & span {
        position: relative;
        //width: 1rem;
        //height: 1rem;
        max-width: 100%;
        display: inline-block;
      }
    } 
    
  }
}

.shrink {
  height:40px;
  background: #aaa;
}